<banner-user></banner-user>

<div class="login">
    <mat-card>
        <p class="title">Enter your credentials</p>
        <div class="form" [formGroup]="form">
            <mat-form-field appearance="fill" class="form-field">
                <input matInput type="text" formControlName="username" placeholder="Username">
            </mat-form-field>
            <div class="form-error" *ngIf="username.invalid && (username.touched || username.dirty)">
                <div *ngIf="username.hasError('required')">
                    Username is required for logging in.
                </div>
                <div *ngIf="username.hasError('minlength')">
                    Username should be at least 4 characters long.
                </div>
                <div *ngIf="username.hasError('maxlength')">
                    Username shouldn't be this long.
                </div>
            </div>

            <mat-form-field appearance="fill" class="form-field">
                <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
            <div class="form-error" *ngIf="password.invalid && (password.touched || password.dirty)">
                <div *ngIf="password.hasError('required')">
                    Password is required for logging in.
                </div>
                <div *ngIf="password.hasError('minlength')">
                    Password should be at least 8 characters long.
                </div>
            </div>
        
            <button mat-raised-button color="primary" (click)="login()" class="login-btn">LOG IN</button>
        </div>
        <div>
            <a>Don't have an account yet? </a>
            <a routerLink="/signup">Create one here.*</a>
            <p class="disclaimer">*The account will have to be approved by an admin.</p>
        </div>
    </mat-card>
</div>