.login {
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50%;

    mat-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: medium;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        .form {
            margin: auto;
            display: flex;
            flex-direction: column;
            div.form-error {
                margin: 0px 0px 10px 0px;
                font-size: 12px;
                color: red;
            }
        }
        .title {
            text-align: center;
            font-size: 2rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
            font-weight: bold;
        }
        .form-field{
            width: 25rem;
            margin-bottom: 1.5rem;
        }
        .login-btn {
            margin-bottom: 2rem;;
        }
        .disclaimer {
            margin-top: 1.95rem;
            font-size: small;
        }
    }
}
