<p>
    <mat-toolbar class="header" color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/images/patient.svg" (click)="goHome()" />
        <span (click)="goHome()">Appointify</span>

        <span class="welcome" *ngIf="hideLogOut">Welcome, {{username}}!</span>
        <button mat-button (click)="onLogOut()" *ngIf="hideLogOut" class="logout-btn">
            <mat-icon mat-list-icon>highlight_off</mat-icon>
            Log Out
        </button>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goHome()">
            <mat-icon mat-list-icon>home</mat-icon>
            Home
        </button>
        <button mat-menu-item (click)="goToPatients()" *ngIf="hideLogOut">
            <mat-icon mat-list-icon>people</mat-icon>
            Patients
        </button>
        <button mat-menu-item (click)="goToAppointments()" *ngIf="hideLogOut">
            <mat-icon mat-list-icon>calendar_today</mat-icon>
            Appointments
        </button>
        <button mat-menu-item *ngIf="hideLogOut" (click)="goToAccounts()">
            <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
            Accounts
        </button>
        <button mat-menu-item (click)="goToContact()">
            <mat-icon mat-list-icon>contact_page</mat-icon>
            Contact Us
        </button>
        <button mat-menu-item (click)="goToLogin()" *ngIf="!hideLogOut">
            <mat-icon mat-list-icon>login</mat-icon>
            Log In
        </button>
    </mat-menu>
</p>