span {
    margin-left: 0.5rem;
}

mat-toolbar {
    height: 4rem;
    margin-bottom: -0.75rem;
    display: flex;
    flex-direction: row;
    .logout-btn{
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: medium;
    }
    .welcome{
        position: absolute;
        top: 15px;
        right: 10rem;
    }
}

img {
    margin-left: 3rem;
    height: 3rem;
}