.mat-elevation-z8 {
    width: 97%;
    margin: auto;
}

.content {
    min-height: 68%;
    margin-bottom: -4rem;
    .add-button {
        margin-top: 1.3rem;
        margin-left: 1.8rem;
    }
    .sort-menu {
        margin-left: 1.8rem;
        margin-bottom: 1rem;
    }
}

table {
    width: 100%;
}

p {
    font-size: 1.4rem;
    padding-left: 1.8rem;
    padding-bottom: 1rem;
}
