<banner></banner>

<div class="content">
    <p>{{ title }}</p>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="sort-menu">Sort list by...</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sortPatientsByNameAsc()">
            <mat-icon mat-list-icon>north_east</mat-icon>
            Name
        </button>
        <button mat-menu-item (click)="sortPatientsByNameDesc()">
            <mat-icon mat-list-icon>south_east</mat-icon>
            Name
        </button>
        <button mat-menu-item (click)="sortPatientsByBirthdateAsc()">
            <mat-icon mat-list-icon>north_east</mat-icon>
            Birth Date
        </button>
        <button mat-menu-item (click)="sortPatientsByBirthdateDesc()">
            <mat-icon mat-list-icon>south_east</mat-icon>
            Birth Date
        </button>
        <button mat-menu-item (click)="sortPatientsBySexType()">Sex Type</button>
    </mat-menu>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Birthdate Column -->
            <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef> Birth Date </th>
                <td mat-cell *matCellDef="let element"> {{element.birthDate | date:"MM/dd/yyyy"}} </td>
            </ng-container>

            <!-- Sex Type Column -->
            <ng-container matColumnDef="sexType">
                <th mat-header-cell *matHeaderCellDef> Sex Type </th>
                <td mat-cell *matCellDef="let element"> {{element.sexType}} </td>
            </ng-container>

            <!-- View Profile And Appointments Column -->
            <ng-container matColumnDef="viewProfileAppointments">
                <th mat-header-cell *matHeaderCellDef>View Profile and Appointments</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="viewProfileAppointments(element)">
                        <mat-icon>people</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="editPatient(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-fab color="warn" (click)="deletePatient(element.id, i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <button mat-raised-button color="primary" class="add-button" (click)="newPatientClick()">Add new patient</button>
</div>