.contact-page {
    background-color: #b2ebf2;
    display: flex;
    flex-direction: row;
    .links {
        width: 50%;
        mat-card {
            height: 88%;
            width: 85%;
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.2rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            .title {
                font-weight: bold;
                color: #007c91;
            }
            .text {
                font-weight: lighter; 
            }
            .company-title {
                margin-top: 2rem;
                font-weight: bold;
                color: #007c91;
            }
        }
    }
    .contact-form {
        width: 50%;
        mat-card {
            width: 85%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: medium;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            .form {
                margin: auto;
                display: flex;
                flex-direction: column;
                div.form-error {
                    margin: 0px 0px 10px 0px;
                    font-size: 12px;
                    color: red;
                }
            }
            .title {
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 3rem;
                font-weight: bold;
                color: #007c91;
            }
            .form-field{
                width: 35rem;
                margin-bottom: 1.5rem;
            }
            .send-btn {
                margin-bottom: 2rem;;
            }
        }
    }
}
