<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d697.4258877502531!2d25.609012329240354!3d45.63669133640206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35c85230fc5d5%3A0xf72864700998a4bf!2sBloc%20A13%2C%20Strada%20Ghindei%201%2C%20Bra%C8%99ov%20500288!5e0!3m2!1sro!2sro!4v1598447417038!5m2!1sro!2sro"
    width="1902" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>

<div class="contact-page">
    <div class="links">
        <mat-card>
            <p class="title">All the channels are available!</p>
            <p class="text">We are happy if you link with us!</p>
            <a class="title" href="https://www.linkedin.com/in/robert-sperchez/">Linkedin</a>
            <br/>
            <p class="text">Or you can follow us on our social media channels:</p>
            <a class="title" href="https://www.facebook.com/sperchez.robert">Facebook</a>
            <br/>
            <a class="title" href="https://twitter.com/RobertSperchez">Twitter</a>
            <br/>
            <p class="text">In order to get a fast answer, please send us an e-mail via our contact form and we will get in touch with you immediately.</p>
            <p class="company-title">Robert Sperchez Corp.</p>
            <p class="text">Address: Ghindei Street 1</p>
            <p class="text">Building A13D, Apartment 17, 4th Floor</p>
            <p class="text">500288, Brasov, Romania</p>
            <p class="text">Phone No.: +40 751 203 081</p>
            <a class="text" href="mailto:robert.sperchez@gmail.com">robert.sperchez@gmail.com</a>
        </mat-card>
    </div>

    <div class="contact-form">
        <mat-card>
            <p class="title">Contact Form</p>
            <div class="form" [formGroup]="form">
                <mat-form-field appearance="fill" class="form-field">
                    <input matInput type="text" formControlName="name" placeholder="Name">
                </mat-form-field>
                <div class="form-error" *ngIf="name.invalid && (name.touched || name.dirty)">
                    <div *ngIf="name.hasError('required')">
                        A name is required.
                    </div>
                    <div *ngIf="name.hasError('minlength')">
                        You need at least 4 characters.
                    </div>
                    <div *ngIf="name.hasError('maxlength')">
                        Exceeded the character limit.
                    </div>
                </div>

                <mat-form-field appearance="fill" class="form-field">
                    <input matInput type="text" formControlName="email" placeholder="Email">
                </mat-form-field>
                <div class="form-error" *ngIf="email.invalid && (email.touched || email.dirty)">
                    <div *ngIf="email.hasError('required')">
                        An email is required.
                    </div>
                    <div *ngIf="email.hasError('email')">
                        Invalid email.
                    </div>
                </div>

                <mat-form-field appearance="fill" class="form-field">
                    <input matInput type="text" formControlName="phoneNumber" placeholder="Phone Number">
                </mat-form-field>
                <div class="form-error" *ngIf="phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)">
                    <div *ngIf="phoneNumber.hasError('pattern')">
                        Invalid phone number.
                    </div>
                </div>

                <mat-form-field appearance="fill" class="form-field">
                    <input matInput type="text" formControlName="company" placeholder="Company">
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <input matInput type="text" formControlName="message" placeholder="Message">
                </mat-form-field>
                <div class="form-error" *ngIf="message.invalid && (message.touched || message.dirty)">
                    <div *ngIf="message.hasError('required')">
                        A message is required.
                    </div>
                    <div *ngIf="message.hasError('maxlength')">
                        Exceeded the character limit.
                    </div>
                </div>
                <button mat-raised-button color="primary" class="send-btn" (click)="sendNewEmail()">Send message</button>
            </div>
        </mat-card>
    </div>
</div>