
<banner></banner>

<div class="profile-info">
    <p class="title">{{ title }}</p>
    <mat-card>
        <p class="info">First Name:</p>
        <p>{{ patientToShow.firstName }}</p>
        <p class="info">Last Name:</p>
        <p>{{ patientToShow.lastName }}</p>
        <p class="info">Birth Date:</p>
        <p>{{ patientToShow.birthDate | date:"MM/dd/yyyy"}}</p>
        <p class="info">CNP:</p>
        <p>{{ patientToShow.personalNumericCode }}</p>
        <p class="info">Sex Type:</p>
        <p>{{ patientToShow.sexType }}</p>
        <p class="info">Email:</p>
        <p>{{ patientToShow.email }}</p>
        <p class="info">Phone Number:</p>
        <p>{{ patientToShow.phoneNumber }}</p>
        <p class="info">Country:</p>
        <p>{{ patientToShow.country }}</p>
        <p class="info">City:</p>
        <p>{{ patientToShow.city }}</p>
        <p class="info">Address:</p>
        <p>{{ patientToShow.address }}</p>
    </mat-card>
    <button mat-raised-button color="accent" (click)="goBackClick()" class="back-button">Go Back</button>
</div>

<div class="appointments">
    <p>{{ tableTitle }}</p>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Appointment Type Column -->
            <ng-container matColumnDef="appointmentType">
                <th mat-header-cell *matHeaderCellDef> Appointment Type </th>
                <td mat-cell *matCellDef="let element"> {{element.appointmentType}} </td>
            </ng-container>

            <!-- Appointment Status Column -->
            <ng-container matColumnDef="appointmentStatus">
                <th mat-header-cell *matHeaderCellDef> Appointment Status </th>
                <td mat-cell *matCellDef="let element"> {{element.appointmentStatus}} </td>
            </ng-container>

            <!-- Specialty Type Column -->
            <ng-container matColumnDef="specialtyType">
                <th mat-header-cell *matHeaderCellDef> Specialty Type </th>
                <td mat-cell *matCellDef="let element"> {{element.specialtyType}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date:"MM/dd/yyyy"}} </td>
            </ng-container>

            <!-- Start Time Column -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
            </ng-container>

             <!-- End Time Column -->
             <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
            </ng-container>

            <!-- View Appointment Column -->
            <ng-container matColumnDef="viewAppointment">
                <th mat-header-cell *matHeaderCellDef>View Appointment</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="viewAppointmentInfo(element)">
                        <mat-icon>calendar_today</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="editAppointment(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-fab color="warn" (click)="deleteAppointment(element.id, i)">
                        <mat-icon>delete</mat-icon>
                    </button> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <button mat-raised-button color="primary" class="add-button" (click)="newAppointmentClick()">Add new appointment</button>
</div>
