.profile-info {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    mat-card {
        text-align: center;
        font-size: medium;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        .info {
            font-weight: bold;
        }
    }
    .title {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    .back-button {
        margin-top: 1.2rem;
    }
}

.appointments {
    .mat-elevation-z8 {
        width: 85%;
        margin: auto;
    }
    .add-button {
        margin-top: 1.3rem;
        margin-left: 8.9rem;
    }
    table {
        width: 100%;
    }
    p {
        font-weight: bold;
        font-size: 1.4rem;
        padding-left: 8.9rem;
        padding-bottom: 1rem;
    }
    margin-bottom: 1.5rem;
}
