<banner-user></banner-user>

<div class="content">
    <p>{{ title }}</p>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <!-- Account Status Column -->
            <ng-container matColumnDef="accountStatus">
                <th mat-header-cell *matHeaderCellDef> Account Status </th>
                <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="editAccount(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-fab color="warn" (click)="deleteAccount(element.id, i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <button mat-raised-button color="primary" class="add-button" (click)="newAccountClick()">Add new account</button>
</div>
