.form {
    p {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    .back-button {
        margin-top: 1.2rem;
    }
    div.form-error {
        margin: 0px 0px 10px 0px;
        font-size: 12px;
        color: red;
    }
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 14.2rem;
}