<banner-user></banner-user>

<div class="form" [formGroup]="form">
    <p>{{ title }}</p>
    <mat-form-field appearance="fill" class="form-field">
        <input matInput type="text" formControlName="username" placeholder="Username">
    </mat-form-field>
    <div class="form-error" *ngIf="username.invalid && (username.touched || username.dirty)">
        <div *ngIf="username.hasError('required')">
            Username is required.
        </div>
        <div *ngIf="username.hasError('minlength')">
            Username needs at least 4 characters.
        </div>
        <div *ngIf="username.hasError('maxlength')">
            Username character limit exceeded.
        </div>
    </div>

    <mat-form-field appearance="fill" class="form-field">
        <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
    <div class="form-error" *ngIf="password.invalid && (password.touched || password.dirty)">
        <div *ngIf="password.hasError('required')">
            Password is required.
        </div>
        <div *ngIf="password.hasError('minlength')">
            Password needs at least 8 characters.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Account Status</mat-label>
        <mat-select formControlName="accountStatus">
            <mat-option *ngFor="let type of accountStatus" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveNewAccount()">Save Account</button>
    <button mat-raised-button color="accent" (click)="goBackClick()" class="back-button">Go Back</button>
</div>