.appointment-info {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    mat-card {
        text-align: center;
        font-size: medium;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        .info {
            font-weight: bold;
        }
    }
    .title {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    .back-button {
        margin-top: 1.2rem;
    }
    
}
