<banner-appointments></banner-appointments>
<div class="appointment-info">
    <p class="title">{{ title }}</p>
    <mat-card>
        <p class="info">Patient's First Name:</p>
        <p>{{ appointmentToShow.patient.firstName }}</p>
        <p class="info">Patient's Last Name:</p>
        <p>{{ appointmentToShow.patient.lastName }}</p>
        <p class="info">Appointment Type:</p>
        <p>{{ appointmentToShow.appointmentType }}</p>
        <p class="info">Appointment Status:</p>
        <p>{{ appointmentToShow.appointmentStatus }}</p>
        <p class="info">Specialty Type:</p>
        <p>{{ appointmentToShow.specialtyType }}</p>
        <p class="info">Appointment Date:</p>
        <p>{{ appointmentToShow.date | date:"MM/dd/yyyy"}}</p>
        <p class="info">Start Time:</p>
        <p>{{ appointmentToShow.startTime }}</p>
        <p class="info">End Time:</p>
        <p>{{ appointmentToShow.endTime }}</p>
        <p class="info">Description:</p>
        <p>{{ appointmentToShow.description }}</p>
    </mat-card>
    <button mat-raised-button color="accent" (click)="goBackClick()" class="back-button">Go Back</button>
</div>
