<div class="whole-page">
    <div class="image-part">
        <img src="../../assets/images/frontpage-image.svg" />
    </div>
    <div class="content-part">
        <p class="title">{{title}}</p>
        <p class="paragraph">{{paragraph}}</p>
        <button mat-flat-button color="primary" class="sign-up" (click)="goToSignup()">SIGN UP TODAY!</button>
        <p class="text">{{text}}</p>
        <button mat-stroked-button color="primary" class="login" (click)="goToLogin()">LOG IN</button>
    </div>
</div>