.whole-page {
    display: flex;
    flex-direction: row;
    .image-part {
        background-color: #b2ebf2;
        width: 50%;
        height: 50.3rem;
        display: flex;
        flex-direction: column;
        img {
            height: 50%;
            display: block;
            margin: auto;
        }
    }
    .content-part {
        width: 50%;
        .title {
            margin-left: 6rem;
            margin-right: 6rem;
            margin-top: 10rem;
            line-height: 4rem;
            font-family: MomcakeBold;
            font-size: 5rem;
            flex-wrap: wrap;
            color: rgb(68, 56, 90);
        }
        .paragraph {
            margin-left: 6rem;
            margin-right: 6rem;
            margin-top: 2.5rem;
            font-size: 1.5rem;
            line-height: 2rem;
            color: rgb(114, 101, 136);
        }
        .sign-up{
            margin-left: 6rem;
            margin-top: 1rem;
            font-size: 1.3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }
        .text {
            margin-left: 6rem;
            margin-top: 2rem;
            font-size: 1.5rem;
            line-height: 2rem;
            color: rgb(114, 101, 136);
        }
        .login {
            margin-left: 6rem;
            margin-top: 1rem;
            font-size: 1.3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
        }
    }
}

@font-face {
    font-family: MomcakeBold;
    src: url("../../assets/fonts/MomcakeBold.otf");
}
