<banner></banner>

<div class="form" [formGroup]="form">
    <p>{{ title }}</p>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="firstName" placeholder="First name" />
    </mat-form-field>
    <div class="form-error" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
        <div *ngIf="firstName.hasError('required')">
            First Name is required.
        </div>
        <div *ngIf="firstName.hasError('minlength')">
            First Name must be at least 2 characters long.
        </div>
        <div *ngIf="firstName.hasError('pattern')">
            Format is incorrect.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="lastName" placeholder="Last name" />
    </mat-form-field>
    <div class="form-error" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
        <div *ngIf="lastName.hasError('required')">
            Last Name is required.
        </div>
        <div *ngIf="lastName.hasError('minlength')">
            Last Name must be at least 2 characters long.
        </div>
        <div *ngIf="lastName.hasError('pattern')">
            Format is incorrect.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="birthDate" formControlName="birthDate" required />
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="personalNumericCode" placeholder="CNP" />
    </mat-form-field>
    <div class="form-error" *ngIf="personalNumericCode.invalid && (personalNumericCode.touched || personalNumericCode.dirty)">
        <div *ngIf="personalNumericCode.hasError('required')">
            CNP is required.
        </div>
        <div *ngIf="personalNumericCode.hasError('minlength')">
            CNP has to be exactly 13 numbers.
        </div>
        <div *ngIf="personalNumericCode.hasError('maxlength')">
            CNP has to be exactly 13 numbers.
        </div>
        <div *ngIf="personalNumericCode.hasError('pattern')">
            Format is incorrect.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Sex Type</mat-label>
        <mat-select formControlName="sexType">
            <mat-option *ngFor="let type of sexType" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="email" placeholder="Email" required />
    </mat-form-field>
    <div class="form-error" *ngIf="email.invalid && (email.touched || email.dirty)">
        <div *ngIf="email.hasError('required')">
            An email is required.
        </div>
        <div *ngIf="email.hasError('email')">
            Invalid email format.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="phoneNumber" placeholder="Phone Number" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="address" placeholder="Address" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="city" placeholder="City" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="country" placeholder="Country" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveNewPatient()">Save Patient</button>
    <button mat-raised-button color="accent" (click)="goBackClick()" class="back-button">Go Back</button>
</div>