.banner {
    background-color: #B2EBF2;
    height: 12.5rem;
    margin-bottom: 2rem;
    img {
        height: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem
    }
}
