<banner-appointments></banner-appointments>
<div class="form" [formGroup]="form">
    <p>{{ title }}</p>
    <mat-form-field appearance="fill">
        <mat-label>Appointment Type</mat-label>
        <mat-select formControlName="appointmentType"  required>
            <mat-option *ngFor="let type of appointmentType" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Appointment Status</mat-label>
        <mat-select formControlName="appointmentStatus" required>
            <mat-option *ngFor="let type of appointmentStatus" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Specialty Type</mat-label>
        <mat-select formControlName="specialtyType" required>
            <mat-option *ngFor="let type of specialtyType" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="date" formControlName="date" required />
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="startTime" placeholder="Start Time" required />
    </mat-form-field>
    <div class="form-error" *ngIf="startTime.invalid && (startTime.touched || startTime.dirty)">
        <div *ngIf="startTime.hasError('required')">
            A starting time is required.
        </div>
        <div *ngIf="startTime.hasError('pattern')">
            Invalid time format.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="endTime" placeholder="End Time" required />
    </mat-form-field>
    <div class="form-error" *ngIf="endTime.invalid && (endTime.touched || endTime.dirty)">
        <div *ngIf="endTime.hasError('required')">
            An ending time is required.
        </div>
        <div *ngIf="endTime.hasError('pattern')">
            Invalid time format.
        </div>
    </div>

    <mat-form-field appearance="fill">
        <input matInput type="text" formControlName="description" placeholder="Description" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Patient</mat-label>
        <mat-select formControlName="patientId" required>
            <mat-option *ngFor="let patient of patientsList" [value]="patient.id">
                {{patient.firstName}} {{patient.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveNewAppointment()">Save Appointment</button>
    <button mat-raised-button color="accent" class="back-button" (click)="goBackClick()">Go Back</button>
</div>