<banner-user></banner-user>

<div class="signup">
    <mat-card>
        <p class="title">Enter your desired credentials</p>
        <div class="form" [formGroup]="form">
            <mat-form-field appearance="fill" class="form-field">
                <input matInput type="text" formControlName="username" placeholder="New Username">
            </mat-form-field>
            <div class="form-error" *ngIf="username.invalid && (username.touched || username.dirty)">
                <div *ngIf="username.hasError('required')">
                    Username is required for signing up.
                </div>
                <div *ngIf="username.hasError('minlength')">
                    Username should be at least 4 characters long.
                </div>
                <div *ngIf="username.hasError('maxlength')">
                    Username character limit exceeded.
                </div>
            </div>

            <mat-form-field appearance="fill" class="form-field">
                <input matInput type="password" formControlName="password" placeholder="New Password">
            </mat-form-field>
            <div class="form-error" *ngIf="password.invalid && (password.touched || password.dirty)">
                <div *ngIf="password.hasError('required')">
                    Password is required for signing up.
                </div>
                <div *ngIf="password.hasError('minlength')">
                    Password should be at least 8 characters long.
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="signup()" class="signup-btn">SIGN UP</button>
        </div>
        <div>
            <a>Already have an account? </a>
            <a routerLink="/login">Log in here.</a>
            <p class="disclaimer">*The account will have to be approved by an admin.</p>
        </div>
    </mat-card>
</div>